<h1>Edit Planet</h1>

<!-- <form method='post' action='/planets'> The action of this form will be to post the result to the given url ---- now I changed all the html into rails helper-->

<%= render partial: 'form', locals: { submit_button_value: "Greenhouse Effect" }%>
